.advantages {
   width: 100%;
   height: 100%;
   background-color: $bg-blue;
   margin-top: 80px;
   padding: 25px 0;

   .box2 {
      top: 1910px;
   }

   .bg_image {
      position: absolute;
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      z-index: 1;
      overflow: hidden;

      img {
         width: 80px;
         margin: 20px 0;
      }
   }

   .bg_image :nth-child(1n) {
      position: relative;
      top: 100px;

      animation-name: advantages-cl1;
      animation-duration: 6s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;

      transition: all 3s linear;

   }

   @keyframes advantages-cl1 {
      0% {
         width: 80px;
      }

      100% {
         width: 40px;
      }
   }

   .bg_image :nth-child(2n) {
      position: relative;
      top: 20px;

      animation-name: advantages-cl2;
      animation-duration: 6s;
      animation-delay: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;

      transition: all 3s linear;
   }

   @keyframes advantages-cl2 {
      0% {
         width: 80px;
      }

      100% {
         width: 40px;
      }
   }

   .row {
      position: relative;
      z-index: 2;

      .btn {
         width: 300px;
         height: 50px;
      }

      h4 {
         @extend %h4;
         color: #c0e9fc;
         margin-top: 50px
      }

      h1 {
         @extend %h1;
         font-weight: 500;
      }

      .box:hover .image {
         transform: scale(1.1);
      }

      .box {
         height: 350px;
         margin: 50px 10px;
         background-color: white;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-around;
         border-radius: 4% / 50%;
         padding: 0 15px;


         h3 {
            @extend %h4;
            color: black;
         }

         p {
            @extend %p;
         }

         .image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            filter: drop-shadow(0 0.5rem 0.5rem #f75e2e);

            background: conic-gradient(#f75e2e 0deg 180deg, #fa9e82 180deg 360deg);

            transition: all .2s ease-in;

            img {
               position: relative;
               top: 37px;
            }

            .img_3 {
               position: relative;
               top: 25px;
            }
         }
      }
   }
}

@media (max-width:1200px) {
  .advantages{
   .box2{
      display: none;
   }
  }
}

@media (max-width:769px) {
   .advantages {
      .row{
         h4{
            font-size: 20px;
         }
         h1{
            font-size: 26px;
         }
      }
      .bg_image {
         display: none;
      }

      .box {
         padding: 0 100px;
      }
   }
}

@media (max-width:426px) {
   .advantages {

      .box {
         padding: 0 20px;
      }
   }

}