.banner {
   width: 100%;
   height: 600px;
   background-color: #e6f7fe;

   .row {
      text-align: left;
      padding: 20px;
      position: relative;
   }

   .container {
      z-index: 4;
      position: relative;

      h1 {
         @extend %h1;
         margin-top: 150px;
         margin-bottom: 20px;
         color: black;

         span {
            color: #03a9f4;
         }
      }

      .row:hover .hr {
         width: 400px;
      }

      .hr {
         width: 0px;
         height: 4px;
         background-color: #f75e2e;
         position: relative;
         top: 3px;

         transition: all 3s ease-in;
      }

      p {
         border-top: 2px solid slategray;
         width: 400px;
         padding: 20px 0;
         @extend %p;
      }
   }

   .Wooman {
      width: 300px;
      position: absolute;
      object-fit: cover;
      top: 106px;
   }

   .bg-town {
      z-index: 1;

      .Towm {
         width: 100%;
         height: 365px;
         position: absolute;
         top: 335px;
         object-fit: cover;
      }
   }

   .bg-could {
      width: 100%;
      height: 500px;
      position: absolute;
      overflow: hidden;
      top: 120px;

      .box {
         width: 200%;
         margin: 0;
         left: 0;
         position: relative;

         animation-name: Could;
         animation-duration: 30s;
         animation-timing-function: linear;
         animation-iteration-count: infinite;

         @keyframes Could {
            0% {
               left: -800px;
            }

            100% {
               left: 100%;
            }
         }
      }
   }

}