.discount {
   width: 100%;
   height: 550px;
   background-color: #03a9f4;


   .container {
      position: relative;
      z-index: 10;

      .row {

         h5 {
            @extend %h4;
            margin-top: 50px;
            color: #c0e9fc;
         }

         h1 {
            @extend %h1;
            margin-bottom: 20px;
         }

         h4 {
            @extend %h4;
            margin-bottom: 20px;
            line-height: 30px;
         }
      }
   }

   .coulds {
      width: 100%;
      height: 200px;
      position: absolute;
      overflow: hidden;
      z-index: 7;
      transition: all .5s linear;

      .class {
         width: 300%;
         margin: 0;
         left: 0;
         position: relative;
         top: 20px;
         animation-name: Discount_could;

         animation-duration: 20s;
         animation-timing-function: linear;
         animation-iteration-count: infinite;

         @keyframes Discount_could {
            0% {
               left: -50%;
            }

            100% {
               left: 120%;
            }
         }

         .could_small {
            width: 350px;

         }
      }

      .could_big {
         width: 450px;
         display: inline-block;
         filter: drop-shadow(0 0 0.25rem #0287c3);
         opacity: 90%;
      }

      .class2 {
         width: 300%;
         margin: 0;
         left: 0;
         position: relative;
         top: -50px;

         animation-name: Discount_could2;

         animation-duration: 17s;
         animation-timing-function: linear;
         animation-iteration-count: infinite;

         @keyframes Discount_could2 {
            0% {
               left: -50%;
            }

            100% {
               left: 120%;
            }
         }

         .could_small {
            width: 450px;
            display: inline-block;
            filter: drop-shadow(0 0 0.25rem #0287c3);
            opacity: 90%;
         }
      }
   }

   .raketa {
      position: absolute;
      width: 100%;
      height: 550px;
      overflow: hidden;
      z-index: 5;
   }

   .box {
      width: 300%;
      position: relative;
      top: 400px;

      animation-name: raketa;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      @keyframes raketa {
         0% {
            transform: translate(-150px, 0);
         }

         100% {
            transform: translate(1400px, -500px);
         }
      }

      img {
         width: 120px;
      }
   }

   .box2::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: rgba(255, 255, 255, 0.5);
      animation: scatter 1s linear infinite;
   }

   .box2 {
      width: 300%;
      position: relative;
      top: 400px;

      animation-name: raketa2;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      @keyframes raketa2 {
         0% {
            width: 40px;
            transform: translate(-150px, 0) skewX(0deg);
         }

         100% {
            width: 100px;
            transform: translate(1400px, -500px) skewX(0deg);
         }
      }

      .fire {
         width: 38px;
         position: relative;
         right: 23px;
         bottom: 43px;
         animation: moveFire 0.5s alternate infinite, firePulse 1s alternate infinite;
      }



      @keyframes moveFire {
         0% {
            transform: scaleY(1);
         }

         100% {
            transform: scaleY(0.8);
         }
      }

      @keyframes firePulse {
         0% {
            transform: scale(1);
         }

         100% {
            transform: scale(1.2);
         }
      }

      @keyframes scatter {
         0% {
            transform: translate(0, 0) scale(1);
            opacity: 0.8;
         }

         100% {
            transform: translate(0, -10px) scale(0.5);
            opacity: 0;
         }

      }
   }



   .bg_button {
      width: 100%;
      height: 350px;
      overflow: hidden;
      position: absolute;
      z-index: 3;

      img {
         width: 100%;
         height: 350px;
      }
   }

}


@media (max-width:789px) {
   .discount {
      position: relative;
      top: 250px;

      .bg_button {
         display: none;
      }
   }
}

@media (max-width:426px) {
   .discount {
      position: relative;
      top: 350px;

      .coulds {
         display: none;
      }

      .raketa {
         display: none;
      }

      .bg_button {
         display: none;
      }

   }
}