header {
   position: fixed;
   width: 100%;

   // padding: 0 10px;
   opacity: 0.95;
   z-index: 11;

   .navbar {
      max-width: 1500px;
      margin: 0 auto;
      border-radius: 5px;
   }

   .container-fluid {
      border-radius: 5px;
      background-color: #03a9f4;
      height: 70px;
      margin-top: -20px;
      position: relative;
      top: 10px;
      padding: 0 50px;
   }

   .tel {
      img {
         width: 50px;
         margin: 0 10px;
      }
   }

   .rlf:hover {
      color: #d8dadb;
   }

   .rlf:focus {
      color: #d8dadb;
   }

   .logo {
      width: 220px;
   }

   .mini {
      width: 50px;
   }

   h5 {
      @extend %h5;
      margin-top: 8px;
      text-transform: uppercase;
   }

   .but_top {
      margin-top: 8px;
   }

   .btn-group {
      margin-top: 8px;

      .btn {
         background-color: #03a9f4;
         border: 0px;
         text-transform: uppercase;
         @extend %h5;
      }
   }

   .navbar-expand-lg .navbar-collapse {
      flex-direction: row;
      justify-content: flex-end;
   }

   .container {
      padding: 10px;
      background-color: #03a9f4;
      border-radius: 10px;

      span {
         img {
            width: 50px;
            margin: 0 20px;
         }
      }
   }
}

@media (max-width:1079px) {
   header {
      .collapse {
         margin-top: 10px;

         .li_meadia {
            margin-top: -10px;
            text-align: center;
         }
      }
   }
}

@media (max-width:992px) {
   header {
      ul {
         max-width: 600px;
         margin: 0 auto;
         background-color: white;
         text-align: center;
         padding: 10px;
         border-radius: 5% / 50%;

      }

      .done_media {
         display: none;
      }
   }
}

@media (max-width:460px) {
   header {
      .logo {
         display: none;
      }

   }
}

@media (min-width:461px) {
   header {
      .mini {
         display: none;
      }

   }
}