.order {
   width: 95%;
   height: 100%;
   margin: 0 auto;
   background-color: $bg-blue;
   position: relative;
   top: 40px;
   display: flex;
   align-items: center;
   box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.75);
   border-radius: 6px;
   padding: 15px;


   h5 {
      text-align: left;
      color: rgb(255, 255, 255);
      @extend %h4;
   }


   .form-select:hover {
      background-color: white;
   }

   .form-select {
      border-radius: 3px;
      background-color: #f6f9f9;
      font-family: 'Poppins';
      font-size: 13px;
      color: #656a70;
      text-align: left;
      @extend %h5;
      border: 0px;

      transition: all .2s linear;

      option:hover {
         background-color: #c0e9fc;
         color: aqua;
      }

      option {
         border-radius: 3px;
      }
   }

   // Number
   #counter-container:hover {
      background-color: white;
   }

   #counter-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: 100%;
      height: 36px;
      background-color: #f6f9f9;
      border-radius: 3px;
      padding-top: 2px;
      font-family: 'Poppins';

      transition: all .2s linear;
   }


   #decrement,
   #increment {
      cursor: pointer;
      font-size: 24px;
      height: 38px;
      padding: 0px 14px;
      border: 1px solid #656a70;
      border-radius: 2px;
   }

   #counter {
      color: #656a70;
      font-size: 26px;
      font-weight: bold;
   }

   .btn {
      margin-top: 32px;
      height: 40px;
   }
}

@media (min-width:1560px) {
   .order {
      width: 1400px;
   }
}

@media (max-width:768px) {
   .order {
      width: 92%;
      position: relative;
      top: -100px;
      h5{
         font-size: 18px;

      }
   }
}
@media (max-width:331px) {
   .order {
      width: 92%;
      position: relative;
      top: -50px;
   }
}