.welcome {
   margin-top: 100px;

   .container {
      padding: 0 70px;

      .left {
         background-color: #c0e9fc;
         padding-top: 50px;
         margin-bottom: 10px;
         border-radius: 10px;

         h2 {
            @extend %h1;
            position: relative;
            top: 75px;
            color: #0287c3;
         }

         img {
            width: 400px;
            height: 400px;
         }

      }

      .right {
         display: flex;
         text-align: left;
         margin-left: 30px;
         flex-direction: column;
         justify-content: space-between;

         h4 {
            @extend %h4;
            color: #03a9f4;
         }

         h1 {
            @extend %h1;
            color: black;
            margin-left: 10px;
         }

         p {
            @extend %p;
         }

      }
   }
}


@media (max-width:766px) {

   .welcome {
      margin-top: -70px;

      .container {

         
         .right {
            text-align: center;
            margin-left: 0px;

            h4 {
               @extend %h4;
               color: #03a9f4;
               font-size: 17px;
            }

            h1 {
               @extend %h1;
               color: black;
               margin-left: 10px;
               font-size: 20px;
            }
         }
      }
   }

   @media (max-width:578px) {
      .welcome {
         margin-top: -70px;


         .container {

            padding: 0px 25px ;

            .right {
               text-align: center;
               margin-left: 0px;

               h4 {
                  color: #03a9f4;
                  font-size: 17px;
               }

               h1 {
                  color: black;
                  margin-left: 10px;
                  font-size: 20px;
               }
            }

            .left {
               display: none;
            }

         }
      }
   }
}