<section class="advantages">
   <div class="bg_image">
      <img src="../../../assets/img/rupor.png" alt="">
      <img src="../../../assets/img/message-2.png" alt="">
      <img src="../../../assets/img/lupa-2.png" alt="">
      <img src="../../../assets/img/message.png" alt="">
      <img src="../../../assets/img/laptop-2.png" alt="">
      <img src="../../../assets/img/notes.png" alt="">
      <img src="../../../assets/img/penzlyk-small.png" alt="">
   </div>
   <div class="bg_image box2">
      <img src="../../../assets/img/message-2.png" alt="">
      <img src="../../../assets/img/notes.png" alt="">
      <img src="../../../assets/img/laptop-2.png" alt="">
      <img src="../../../assets/img/penzlyk-small.png" alt="">
      <img src="../../../assets/img/message.png" alt="">
      <img src="../../../assets/img/rupor.png" alt="">
      <img src="../../../assets/img/lupa-2.png" alt="">
   </div>

   <div class="container text-center">
      <div class="row">
         <div class="col-12">
            <h4>02 Our advantages</h4>
         </div>
         <div class="col-12">
            <h1>Advantages of our writing services</h1>
         </div>

         <div class=" col-4">
            <div class="box">
               <div class="image">
                  <span></span>
                  <img src="../../../assets/img/kubok.png" alt="">
               </div>
               <h3>Professionally-qualified <br>writing experts</h3>
               <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
               </p>
            </div>
         </div>
         <div class=" col-4">
            <div class="box">
               <div class="image">
                  <span></span>
                  <img src="../../../assets/img/zapusnuk.png" alt="">
               </div>
               <h3>Commitment to deliver papers <br>by deadline</h3>
               <p>But I must explain to you how all this mistaken idea of denouncing pleasure and p
                  raising pain was born</p>
            </div>
         </div>
         <div class=" col-4">
            <div class="box">
               <div class="image">
                  <span></span>
                  <img class="img_3" src="../../../assets/img/comp.png" alt="">
               </div>
               <h3>Top-quality, at a great price - <br> guaranteed</h3>
               <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
               </p>
            </div>
         </div>


         <div class="button col-12">
            <button class="btn btn-primary but_blue-big" type="submit">Place an order</button>
         </div>
      </div>
   </div>
</section>