<section class="banner">
   <div class="container text-center">
      <div class="row">
         <div class="col-8">
            <h1><span>BlueEssaySite.net -</span> <br>expert help for custom Written</h1>

            <div class="hr"></div>
            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and
               demoralized</p>
            <button class="btn btn-primary but_orange-big" type="submit">Place an order</button>
         </div>
         <div class="col-4">
            <img class="Wooman" src="../../../assets/img/Wooman.png" alt="">
         </div>
      </div>
   </div>

   <div class="bg-town">
      <img class="Towm" src="../../../assets/img/Town.png" alt="">
   </div>
   <div class="bg-could">
      <div class="box">
         <img class="Cloud" src="../../../assets/img/cloud-baner.png" alt="">

      </div>
   </div>
</section>