<section class="discount">
   <div class="coulds">
      <div class="class">
         <img class="could_big" src="../../../assets/img/clouds – копія.png" alt="">
      </div>
      <div class="class2">
         <img class="could_small" src="../../../assets/img/cloud-2.png" alt="">
      </div>
   </div>
   <div class="raketa">
      <div class="box">
         <img class="rak" src="../../../assets/img/raketa1.png" alt="">
      </div>
         <div class="box2">
            <img class="fire" src="../../../assets/img/fire.png" alt="">
         </div>
   </div>
   <div class="container text-center">
      <div class="row">
         <div class="col-12">
            <h5>04  Discounts</h5>
         </div>
         <div class="col-12">
            <h1>Our discount program</h1>
         </div>
         <div class="col-12">
            <h4>By utilizing elements and principles of Material Design, we were <br> able to create a framework that incorporates </h4>
         </div>
      </div>
   </div>
   <div class="bg_button">
      <img src="../../../assets/img/background-cloud – копія.png" alt="">
   </div>
</section>