<footer>
   <div class="head">
      <div class="logo">
         <a href="#"><img src="../../../assets/img/logo.png" alt=""></a>
      </div>
      <div class="navigator">
         <a href="#">home</a>
         <a href="#">about us</a>
         <a href="#">order now</a>
         <a href="#">disclaimer</a>
         <a href="#">why us</a>
         <a href="#">contacts</a>
         <a href="#">blog</a>
      </div>
   </div>
      <div class="container text-center cl1">
         <div class="class_text row">
            <div class="col-xl-3 col-sm-12">
               <h3>Section number1</h3>
               <p>But I must explain to you how <br>
                  Mistaken idea of denouncing <br>
                  Praising pain was born <br>
                  Account of the system <br>
                  Great explorer of the truth <br>
                  No one rejects, dislikes <br>
                  Mistaken idea of denouncing <br>
                  Praising pain was born</p>
            </div>
            <div class="col-xl-3 col-sm-12">
               <h3>Section number2</h3>
               <p>But I must explain to you how <br>
                  Mistaken idea of denouncing <br>
                  Praising pain was born <br>
                  Account of the system <br>
                  Great explorer of the truth <br>
                  No one rejects, dislikes <br>
                  Mistaken idea of denouncing <br>
                  Praising pain was born</p>
            </div>
            <div class="col-xl-3 col-sm-12">
               <h3>Section number3</h3>
               <p>But I must explain to you how <br>
                  Mistaken idea of denouncing <br>
                  Praising pain was born <br>
                  Account of the system <br>
                  Great explorer of the truth <br>
                  No one rejects, dislikes <br>
                  Mistaken idea of denouncing <br>
                  Praising pain was born</p>
            </div>
            <div class="col-xl-3 col-sm-12">
               <h3>Section number4</h3>
               <p>But I must explain to you how <br>
                  Mistaken idea of denouncing <br>
                  Praising pain was born <br>
                  Account of the system <br>
                  Great explorer of the truth <br>
                  No one rejects, dislikes <br>
                  Mistaken idea of denouncing <br>
                  Praising pain was born</p>
            </div>
         </div>
      </div>
   <div class="container text-center button">
      <div class="row">
         <div class="col-xl-3 col-sm-12">
            <h4>Copyright В© 2017 BlueEssaySite.net <br>
               All rights reserved.</h4>
         </div>
         <div class="icons col-xl-3 col-sm-12">
            <a href="#"><i class="fa-brands fa-facebook-f fa-sm" style="color: #ffffff;"></i></a>
            <a href="#"><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a>
            <a href="#">
               <i class="fa-brands fa-pinterest" style="color: #ffffff;"></i>
            </a>
            <a href="#">
               <i class="fa-brands fa-google" style="color: #ffffff;"></i>
            </a>
         </div>
         <div class="col-sm-12 col-xl-3 ic">
            <span class="radio">
               <a href="#">
                  <i class="fa-solid fa-phone" style="color: #03a9f4;"></i>
               </a>
            </span>
            <h4>Toll free: <br> <span>+380 97 77 77 777</span></h4>

         </div>
         <div class="col-sm-12 col-xl-3 ic">
            <span class="radio">
               <a href="#">
                  <i class="fa-solid fa-envelope" style="color: #03a9f4;"></i>
               </a>
            </span>
            <h4>Email: <br>blueessaysite@gmail.com</h4>
         </div>

      </div>
   </div>

</footer>