<header>
   <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
         <a class="navbar-brand" href="#">
            <img class="logo" src="../../../assets/img/logo.png" alt="">
            <img class="mini" src="../../../assets/img/logo_mini.png" alt="">
         </a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
               <li class="nav-item dropdown">
                  <div class="btn-group">
                     <button type="button" class="btn rlf dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        sevices
                     </button>
                     <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                           <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                     </ul>
                  </div>
               </li>
               <li class="nav-item dropdown ">
                  <div class="btn-group">
                     <button type="button" class="btn rlf dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        about us
                     </button>
                     <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                     </ul>
                  </div>
               </li>
               <li class="nav-item">
                  <a class="nav-link li_meadia done_media" aria-current="page" href="#">
                     <h5 class="rlf">how it works</h5>
                  </a>
               </li>
               <li class="nav-item done_media">
                  <a class="tel" aria-current="page" href="#">
                     <img src="../../../assets/img/Tel.png" alt=""> </a>
               </li>
               <li class="but_top">
                  <button type="button" class="btn  but_blue">sing in</button>
               </li>
               <li class="but_top">
                  <button type="button" class="btn  but_orange">order</button>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</header>