<section class="off">
   <div class="parent">
      <div class="div1 type">
         <a href="#">
            <h1>4% <br> OFF</h1>
            <p>for nore than</p>
            <h5>15 pages</h5>
         </a>
      </div>
      <div class="div2 type">
         <a href="#">
            <h1>5% <br> OFF</h1>
            <p>for nore than</p>
            <h5>20 pages</h5>
         </a>
      </div>
      <div class="div3 type">
         <a href="#">
            <h1>10% <br> OFF</h1>
            <p>for nore than</p>
            <h5>50 pages</h5>
         </a>
      </div>
      <div class="div4 type">
         <a href="#">
            <h1>15% <br> OFF</h1>
            <p>for nore than</p>
            <h5>100 pages</h5>
         </a>
      </div>

      <div class="div5">
         <div class="box">
            <h2>Try our service & <br>get huge discounts</h2>
            <img class="noshici" src="../../../assets/img/noshici.png" alt="">
            <img class="stars" src="../../../assets/img/starts1.png" alt="">
            <div class="class">
               <a href="#">
                  <h5>get</h5>
                  <h1>15% <br>OFF</h1>
                  <p class="shake-animation">for your 1st order</p>
               </a>
            </div>
            <h6>Use <span>discount15</span> as discount code</h6>
            <div class="movable-block" id="block">
               <img class="Shar" src="../../../assets/img/Shar.png" alt="">
            </div>
         </div>
      </div>
   </div>
</section>


<script src="script.js"></script>