<section class="simple">
   <div class="container text-center">
      <div class="row">
         <div class="col-12">
            <h4>03 How it works</h4>
         </div>
         <div class="col-12">
            <h1>Our Simple 4-Step Procedure</h1>
         </div>

         <div class="box col-xl-3 col-md-6">
            <img src="../../../assets/img/arrow 4.png" alt="">
            <div class="class">
               <img src="../../../assets/img/pen.png" alt="">
               <h2>Step 1</h2>
               <p>Complete the short order form to buy a paper from our easy essay writing service.</p>
            </div>
         </div>
         <div class="box col-xl-3 col-md-6">
            <img src="../../../assets/img/arrow 4.png" alt="">
            <div class="class">
               <img src="../../../assets/img/midal.png" alt="">
               <h2>Step 2</h2>
               <p>We allocate your order to a suitably-qualified writer with specialist knowledge in, for example,
                  persuasive essay writing if that is what you want.</p>
            </div>
         </div>
         <div class="box col-xl-3 col-md-6">
            <img src="../../../assets/img/arrow 4.png" alt="">
            <div class="class">
               <img src="../../../assets/img/Lupa.png" alt="">
               <h2>Step 3</h2>
               <p>Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the
                  highest standard</p>
            </div>
         </div>
         <div class="box col-xl-3 col-md-6">
            <img src="../../../assets/img/arrow 4.png" alt="">
            <div class="class">
               <img src="../../../assets/img/Raketa.png" alt="">
               <h2>Step 4</h2>
               <p>The order you placed with our essay writing service is then sent to you before the deadline you set
                  and is accompanied by se
                  veral free-of-charge features.</p>
            </div>
         </div>

      </div>
   </div>

</section>