.color {
   color: #d8dadb;
   color: #0287c3;
   color: #03a9f4;
   color: #c0e9fc;
   color: #e6f7fe;
   color: #f75e2e;
   color: #fa9e82;
   color: #f6f9f9;
   color: #656a70;

   // color: #;
}


$bg-blue: #03a9f4;
$bg-LOWblue: #c0e9fc;

%p {
   font-size: 14px;
   font-family: 'Poppins';
   color: #656a70;
}

%p_white {
   font-size: 14px;
   font-family: 'Poppins';
   color: white;
   font-weight: 600;
}

%p_blue {
   font-size: 14px;
   font-family: 'Poppins';
   color: #0287c3;
}

%h1 {
   font-size: 35px;
   font-family: 'Poppins';
   color: white;
   font-weight: bold;
}

%h2 {
   font-size: 33px;
   font-family: 'Poppins';
   color: white;
   font-weight: 800;
}

%h3 {
   font-size: 27px;
   font-family: 'Poppins';
   color: white;
   font-weight: 700;
}

%h4 {
   font-size: 22px;
   font-family: 'Poppins';
   color: white;
   font-weight: 600;
}

%h5 {
   font-size: 17px;
   font-family: 'Poppins';
   color: white;
   font-weight: 500;
}

%h6 {
   font-size: 14px;
   font-family: 'Poppins';
   color: white;
   font-weight: 400;
}


// BUTTON BLUE
.but_blue:hover {
   background-color: #c0e9fc;
}

.but_blue {
   border-radius: 8px;
   background-color: #0287c3;
   width: 120px;
   border: 0;

   transition: all .3s ease-in-out;
}

.but_blue-big:hover {
   background-color: #c0e9fc;
}

.but_blue-big {
   border-radius: 8px;
   background-color: #0287c3;
   width: 170px;
   border: 0;

   transition: all .3s ease-in-out;
}



// BUTTON ORANGE
.but_orange:hover {
   background-color: #fa9e82;
}

.but_orange {
   border-radius: 8px;
   background-color: #f75e2e;
   width: 120px;
   border: 0;

   transition: all .3s ease-in-out;
}

.but_orange-big:hover {
   background-color: #fa9e82;
}

.but_orange-big {
   border-radius: 8px;
   background-color: #f75e2e;
   width: 170px;
   border: 0;

   transition: all .3s ease-in-out;
}

.btn {
   font-weight: bold;
   font-family: 'Roboto';
   letter-spacing: 2px;
   border-radius: 3px;
}